body {
    margin: 0px;
}

#root {

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inputdiv {
width: 400px;
display: flex;
flex-direction: row;
gap: 16px;
margin: 8px;
}

#profilediv{
    width: 400px;
    display: flex;
    flex-direction: column;
}

#row1 {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

#profilebasicdata {
display: flex;
flex-direction:column;;
 justify-content: space-between;

}

#profilebasicdata p{
    margin: 0px;
}


#input {
  flex-grow: 1;
}

#avatarImg{
    height: 100px;
}

